.c-apple-watch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top center;
  width: 97px;
  height: 165px;
  @include breakpoint(md) {
    width: 154px;
    height: 262px;
  }
  @include breakpoint(lg) {
    width: 187px;
    height: 317px;
  }

  &__mock {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    z-index: 2;
  }
}

// Video
.c-apple-watch-screen {
  position: absolute;
  width: 72px;
  height: 87px;
  right: 15px;
  @include breakpoint(md) {
    width: 114px;
    height: 139px;
    right: 23px;
  }
  @include breakpoint(lg) {
    width: 138px;
    height: 168px;
    right: 29px;
  }

  &__static,
  &__video {
    position: absolute;
    width: inherit;
    height: inherit;
  }

  &__static {
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    z-index: 1;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}
