.accordion {
  position: relative;
  width: 100%;

  &__header {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: $subtitle;
    font-weight: font-weight('bold');
    @include breakpoint(lg) {
      font-size: $subtitle--2;
    }
    button {
      all: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing--lg;
      white-space: nowrap;
      transition: all 0.3s ease;
      cursor: pointer;
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
      }
      @include breakpoint(lg) {
        padding: $spacing--xl;
      }
    }

    button.is-opened {
      border-bottom: 1px solid transparent;
      .accordion-icon {
        transform: rotate(180deg);
      }
    }
  }

  &-icon {
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    height: 24px;
    width: 24px;
    transition: all 225ms ease;
    border: 1px solid transparent;
    pointer-events: none;
    &:after,
    &:before {
      position: absolute;
      content: '';
      background-color: #444857;
      width: 16px;
      height: calc(24px / 7);
      top: 50%;
      border-radius: 90px;
    }
    &:after {
      right: 8px;
      transform: translateY(-50%) rotate(45deg);
    }
    &:before {
      left: 8px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__panel {
    position: relative;
    width: 100%;
    transition: all 275ms ease;
    height: auto;
    overflow: hidden;
    &-container {
      position: relative;
      width: 100%;
      padding: $spacing--2xl $spacing--xl;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}
