.header {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 68px;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  @include frosted-glass(color('dark'), 0.72);
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    @include container-padding;
  }
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
  }
  &[data-state='hidden'] {
    transform: translateY(-80px);
  }
}
