.header {
  position: fixed;
  z-index: 4;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 68px;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  @include frosted-glass(color('light'), 0.72);
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-screen-size;
    margin: auto;
    @include container-padding;
  }
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background-color: color('dark');
    border-radius: 90px;
  }
  &[data-state='hidden'] {
    transform: translateY(-80px);
  }
}

.brand-logo {
  display: block;
  height: auto;
  width: 100%;
}
