.hero {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    position: relative;
    top: 68px;
    z-index: 1;
    width: 768px;
    height: 625px;
    @include breakpoint(md) {
      width: 1068px;
      height: 870px;
    }
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(23, 22, 55, 0.95) 5%, rgba(0, 0, 27, 0) 40%);
  }
  &::after {
    position: absolute;
    content: '';
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      345deg,
      rgba(color('darker'), 1) var(--progress-start),
      rgba(color('darker'), 0) var(--progress-end)
    );
  }
}

.hero-image,
.hero-image-shadow {
  position: relative;
  left: -90px;
  margin-right: auto;
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  mask-size: contain;
  @include breakpoint(md) {
    left: 0;
  }
}

.hero-image-shadow {
  position: absolute;
  opacity: 0.75;
}

.hero-heading {
  position: absolute;
  width: 320px;
  height: 58px;
  @include breakpoint(sm) {
    width: 464px;
    height: 84px;
  }
  @include breakpoint(md) {
    width: 680px;
    height: 124px;
  }
  @include breakpoint(lg) {
    width: 855px;
    height: 151px;
  }
}

.logo-container {
  position: absolute;
  width: inherit;
  height: inherit;
  .logo {
    background-repeat: no-repeat;
    background-size: contain;
    height: inherit;
    width: inherit;
  }
  &--apple,
  &--f,
  &--i,
  &--t,
  &--n,
  &--e {
    z-index: 2;
  }
  @include breakpoint(md) {
    &--apple,
    &--f,
    &--i {
      z-index: auto;
    }
    &--s1 {
      z-index: 2;
    }
  }
  @include breakpoint(lg) {
    &--f {
      z-index: auto;
    }
  }

  &--apple .logo {
    background-image: url('../assets/logo_fitness_apple.svg');
  }
  &--f .logo {
    background-image: url('../assets/logo_fitness_f.svg');
  }
  &--i .logo {
    background-image: url('../assets/logo_fitness_i.svg');
  }
  &--t .logo {
    background-image: url('../assets/logo_fitness_t.svg');
  }
  &--n .logo {
    background-image: url('../assets/logo_fitness_n.svg');
  }
  &--e .logo {
    background-image: url('../assets/logo_fitness_e.svg');
  }
  &--s1 .logo {
    background-image: url('../assets/logo_fitness_s1.svg');
  }
  &--s2 .logo {
    background-image: url('../assets/logo_fitness_s2.svg');
  }
  &--plus .logo {
    background-image: url('../assets/logo_fitness_plus.svg');
  }
}

.hero-container[data-hero='hero-01'] {
  .logo-container {
    @include breakpoint(md) {
      &--i,
      &--t {
        z-index: auto;
      }
    }
  }
}

.hero-container[data-hero='hero-02'] {
  .hero-image,
  .hero-image-shadow {
    left: 0;
  }
  .logo-container {
    &--e {
      z-index: auto;
    }
    @include breakpoint(md) {
      &--i,
      &--t,
      &--e {
        z-index: auto;
      }
    }
  }
}

.hero-container[data-hero='hero-03'] {
  .logo-container {
    &--s1,
    &--s2 {
      z-index: 2;
    }
    @include breakpoint(md) {
      &--i,
      &--t {
        z-index: auto;
      }
      &--s2 {
        z-index: 2;
      }
    }
  }
}

.hero-container[data-hero='hero-04'] {
  .logo-container {
    @include breakpoint(md) {
      &--apple,
      &--f,
      &--i {
        z-index: auto;
      }
      &--s1 {
        z-index: 2;
      }
    }
  }
}
