.c-hero {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    position: relative;
    top: 28px;
    z-index: 1;
    width: 682px;
    height: 556px;
    @include breakpoint(md) {
      top: 68px;
      width: 948px;
      height: 772px;
    }
    @include breakpoint(lg) {
      width: 1068px;
      height: 870px;
    }
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(23, 22, 55, 0.95) 5%, rgba(0, 0, 27, 0) 40%);
  }
  &::after {
    position: absolute;
    content: '';
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      355deg,
      rgba(color('darker'), 1) var(--progress-start),
      rgba(color('darker'), 0) var(--progress-end)
    );
  }

  &-image,
  &-shadow {
    position: relative;
    left: -90px;
    margin-right: auto;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    @include breakpoint(md) {
      left: 0;
    }
  }

  &-shadow {
    position: absolute;
    opacity: 0.75;
  }
}

.c-hero__container[data-hero='hero-02'] {
  .c-hero-image,
  .c-hero-shadow {
    left: 0;
  }
}

.c-hero__container[data-hero='hero-01'] {
  .c-hero-image,
  .c-hero-shadow {
    left: -48px;
  }
}

.c-hero-logo {
  position: absolute;
  margin-top: 48px;
  width: 327px;
  height: 60px;
  @include breakpoint(md) {
    width: 638px;
    height: 117px;
  }
  @include breakpoint(lg) {
    width: 822px;
    height: 151px;
  }
  &__container {
    position: absolute;
    width: inherit;
    height: inherit;
  }
}

.c-logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: inherit;
  width: inherit;
}

.c-hero-logo__container {
  &--apple,
  &--f,
  &--i,
  &--t,
  &--n,
  &--e {
    z-index: 2;
  }
  @include breakpoint(md) {
    &--apple,
    &--f,
    &--i {
      z-index: auto;
    }
    &--s1 {
      z-index: 2;
    }
  }
  @include breakpoint(lg) {
    &--f {
      z-index: auto;
    }
  }

  &--apple .c-logo {
    background-image: url('../assets/logo_fitness_apple.svg');
  }
  &--f .c-logo {
    background-image: url('../assets/logo_fitness_f.svg');
  }
  &--i .c-logo {
    background-image: url('../assets/logo_fitness_i.svg');
  }
  &--t .c-logo {
    background-image: url('../assets/logo_fitness_t.svg');
  }
  &--n .c-logo {
    background-image: url('../assets/logo_fitness_n.svg');
  }
  &--e .c-logo {
    background-image: url('../assets/logo_fitness_e.svg');
  }
  &--s1 .c-logo {
    background-image: url('../assets/logo_fitness_s1.svg');
  }
  &--s2 .c-logo {
    background-image: url('../assets/logo_fitness_s2.svg');
  }
  &--plus .c-logo {
    background-image: url('../assets/logo_fitness_plus.svg');
  }
}

.c-hero-logo[data-hero='hero-01'] {
  .c-hero-logo__container {
    &--apple {
      z-index: auto;
    }
    &--s1 {
      z-index: 2;
    }
    @include breakpoint(md) {
      &--i {
        z-index: auto;
      }
    }
  }
}

.c-hero-logo[data-hero='hero-02'] {
  .c-hero-logo__container {
    @include breakpoint(md) {
      &--i,
      &--t,
      &--e {
        z-index: auto;
      }
    }
  }
}

.c-hero-logo[data-hero='hero-03'] {
  .c-hero-logo__container {
    &--s1,
    &--s2 {
      z-index: 2;
    }
    @include breakpoint(md) {
      &--i,
      &--t {
        z-index: auto;
      }
    }
  }
}

.c-hero-logo[data-hero='hero-04'] {
  .c-hero-logo__container {
    &--s1 {
      z-index: 2;
    }
    @include breakpoint(md) {
      &--apple,
      &--f,
      &--i {
        z-index: auto;
      }
      &--s1 {
        z-index: 2;
      }
    }
  }
}
