.c-iphone {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 314px;
  @include breakpoint(md) {
    width: 208px;
    height: 403px;
  }
  @include breakpoint(lg) {
    width: 235px;
    height: 457px;
  }

  &--landscape {
    width: 367px;
    height: 187px;
    @include breakpoint(md) {
      width: 581px;
      height: 296px;
    }
    @include breakpoint(lg) {
      width: 703px;
      height: 358px;
    }
  }

  &--large {
    width: 320px;
    height: 644px;
    @include breakpoint(lg) {
      width: 415px;
      height: 834px;
    }
  }

  &__mock {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    border-radius: 46px;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.c-apple-music-playlist {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: inherit;
  &__song {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.c-airpods {
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__left,
  &__right {
    --progress-start: 0%;
    --progress-end: 0%;
    position: relative;
    width: 82px;
    height: 114px;
    @include breakpoint(lg) {
      width: 107px;
      height: 148px;
    }
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      z-index: 3;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        175deg,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
      transform-origin: bottom center;
    }
  }

  &__left {
    top: -48px;
    left: -48px;
  }

  &__right {
    right: -48px;
  }
}

.c-iphone-screen {
  position: absolute;
  width: 340px;
  height: 159px;

  @include breakpoint(md) {
    width: 534px;
    height: 251px;
  }
  @include breakpoint(lg) {
    width: 652px;
    height: 304px;
  }

  &__static,
  &__video {
    position: absolute;
    width: inherit;
    height: inherit;
  }

  &__static {
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    z-index: 1;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

.c-album-cover {
  position: relative;
  z-index: -1;
  height: 473px;
  width: 473px;
  border-radius: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  &--01 {
    height: 182px;
    width: 182px;
  }

  &--02 {
    height: 263px;
    width: 263px;
  }

  &--03 {
    height: 318px;
    width: 318px;
  }
  &--04 {
    height: 318px;
    width: 318px;
  }
  &--05 {
    height: 263px;
    width: 263px;
  }
}
