.c-section-hero {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;

  &--metrics {
    width: 375px;
    height: 589px;
    @include breakpoint(md) {
      width: 628px;
      height: 968px;
    }
    @include breakpoint(lg) {
      width: 700px;
      height: 1100px;
    }
  }

  &--workouts {
    width: 375px;
    height: 444px;
    @include breakpoint(md) {
      width: 628px;
      height: 744px;
    }
    @include breakpoint(lg) {
      width: 860px;
      height: 1020px;
    }
  }

  &--trainers {
    width: 375px;
    height: 531px;
    transform-origin: top center;
    @include breakpoint(md) {
      width: 628px;
      height: 890px;
    }
    @include breakpoint(lg) {
      width: 860px;
      height: 1218px;
    }
  }

  &__shadow,
  &__image,
  &__duo-tone,
  &__bw {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__image,
  &__duo-tone,
  &__bw {
    z-index: 1;
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &__duo-tone {
    z-index: 2;
    opacity: 1;
  }

  &__bw {
    z-index: 1;
    opacity: 0;
  }

  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(23, 22, 55, 0.95) 5%, rgba(0, 0, 27, 0) 40%);
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.c-hero-metrics {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--metrics {
    width: 100%;
    height: calc(100% / 2);
    justify-content: space-around;
  }
  &--workouts {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}

.c-hero-metrics-group {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.c-metric {
  position: relative;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;

  &--time {
    z-index: 2;
    width: 139px;
    height: 56px;
    @include breakpoint(md) {
      width: 307px;
      height: 124px;
    }
    @include breakpoint(lg) {
      width: 323px;
      height: 132px;
    }
  }
  &--time-icon {
    height: 46px;
    width: 46px;
    @include breakpoint(md) {
      width: 100px;
      height: 100px;
    }
    @include breakpoint(lg) {
      width: 106px;
      height: 106px;
    }
  }

  &--bpm {
    z-index: 2;
    width: 118px;
    height: 57px;
    @include breakpoint(md) {
      width: 260px;
      height: 126px;
    }
    @include breakpoint(lg) {
      width: 274px;
      height: 131px;
    }
  }

  &--bpm-icon {
    height: 46px;
    width: 43px;
    @include breakpoint(md) {
      width: 100px;
      height: 93px;
    }
    @include breakpoint(lg) {
      width: 106px;
      height: 99px;
    }
  }

  &--calories {
    z-index: 2;
    width: 84px;
    height: 56px;
    @include breakpoint(md) {
      width: 185px;
      height: 123px;
    }
    @include breakpoint(lg) {
      width: 194px;
      height: 131px;
    }
  }
  &--calories-icon {
    width: 84px;
    height: 35px;
    @include breakpoint(md) {
      width: 185px;
      height: 76px;
    }
    @include breakpoint(lg) {
      width: 195px;
      height: 80px;
    }
  }

  &--clock {
    z-index: -1;
    width: 280px;
    height: 280px;
    @include breakpoint(md) {
      width: 474px;
      height: 474px;
    }
    @include breakpoint(lg) {
      width: 617px;
      height: 617px;
    }
  }

  &--yoga {
    width: 158px;
    height: 45px;
    margin-left: auto;
    @include breakpoint(md) {
      width: 265px;
      height: 75px;
    }
    @include breakpoint(lg) {
      width: 363px;
      height: 103px;
    }
  }

  &--music {
    width: 215px;
    height: 45px;
    margin-right: auto;
    @include breakpoint(md) {
      width: 360px;
      height: 75px;
    }
    @include breakpoint(lg) {
      width: 493px;
      height: 103px;
    }
  }
}

// .c-section-hero-clipper {
//   --clip-progress: 0;
//   clip-path: inset(
//     calc(var(--clip-progress) / 10) calc(var(--clip-progress) / 2) calc(var(--clip-progress) * 1.1)
//       calc(var(--clip-progress) / 2) round 20px
//   );
// }
