.c-trainers {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__group-a,
  &__group-b {
    will-change: transform;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.c-trainers__group-a ~ .c-trainers__group-b {
  margin-top: $spacing--lg;
}

.c-trainer-card {
  position: relative;
  width: 216px;
  height: 275px;
  flex-shrink: 0;
  padding: 0 $spacing--sm;
  @include breakpoint(md) {
    width: 334px;
    height: 425px;
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing--lg;
    border-radius: 1rem;
    overflow: hidden;
    @include breakpoint(md) {
      padding: $spacing--xl;
    }
  }
  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      background: linear-gradient(175deg, rgba(color('darker'), 0) 50%, rgba(color('darker'), 0.88) 90%);
      transform-origin: bottom center;
      border-radius: inherit;
    }
  }
  &-label {
    position: relative;
    z-index: 2;
    line-height: 1.25;
    align-self: flex-end;
    margin-right: auto;
    font-size: $subtitle;
    font-weight: font-weight('medium');
    color: color('offwhite');
    user-select: none;
    white-space: nowrap;
    @include breakpoint(sm) {
      font-size: $subtitle--2;
    }
  }
}
