.compatibility-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing--xl 0;
  @include container-padding;
  @include breakpoint(md) {
    gap: 0 0;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    position: relative;
    align-items: center;
  }
}

.compatibility-intro {
  position: relative;
  @include container-padding;
  margin-bottom: $layout--lg;
}

.c-device-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    position: relative;
    height: 109px;
    width: 145px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__label {
    display: block;
    font-size: $subtitle;
    font-weight: font-weight('medium');
    line-height: 1.25;
    color: color('offwhite');
  }
  &__icon ~ &__label {
    margin-top: $spacing--lg;
  }
}

.service-info {
  position: relative;
  width: 100%;
  @include container-padding;
  &__heading {
    margin-bottom: $spacing--4xl;
  }
  &__content {
    padding-bottom: $layout--2xl;
  }
}
