.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $layout--lg;

  &-image-container {
    --image-w: 768px;
    --image-h: 625px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: var(--image-w);
    height: var(--image-h);
    @include breakpoint(md) {
      --image-w: 998px;
      --image-h: 813px;
    }
    @include breakpoint(lg) {
      --image-w: 1068px;
      --image-h: 870px;
    }
  }
}

.hero-image,
.hero-image-shadow {
  position: relative;
  left: -10%;
  margin-right: auto;
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  @include breakpoint(md) {
    left: 0;
  }
}

.hero-image {
  background-image: url('../assets/hero_01.jpg');
  mask-size: contain;
  mask-image: url('../assets/hero_01_mask.png');
  mask-repeat: no-repeat;
}

.hero-image-shadow {
  position: absolute;
  background-image: url('../assets/hero_01_shadow.png');
}

.hero-title {
  --logo-w: 320px;
  --logo-h: 58px;
  position: absolute;
  width: var(--logo-w);
  height: var(--logo-h);
  white-space: nowrap;
  @include breakpoint(sm) {
    --logo-w: 464px;
    --logo-h: 84px;
  }
  @include breakpoint(md) {
    --logo-w: 680px;
    --logo-h: 124px;
  }
  @include breakpoint(lg) {
    --logo-w: 855px;
    --logo-h: 151px;
  }
}

.logo-container {
  position: absolute;
  width: inherit;
  height: inherit;
  .logo {
    background-repeat: no-repeat;
    background-size: contain;
    height: inherit;
    width: inherit;
  }
  &--apple,
  &--f,
  &--i,
  &--t,
  &--n,
  &--e {
    z-index: 2;
  }
  @include breakpoint(md) {
    &--apple,
    &--f,
    &--i {
      z-index: auto;
    }
    &--s1 {
      z-index: 2;
    }
  }
  @include breakpoint(lg) {
    &--f {
      z-index: auto;
    }
  }

  &--apple .logo {
    background-image: url('../assets/logo_fitness_apple.svg');
  }
  &--f .logo {
    background-image: url('../assets/logo_fitness_f.svg');
  }
  &--i .logo {
    background-image: url('../assets/logo_fitness_i.svg');
  }
  &--t .logo {
    background-image: url('../assets/logo_fitness_t.svg');
  }
  &--n .logo {
    background-image: url('../assets/logo_fitness_n.svg');
  }
  &--e .logo {
    background-image: url('../assets/logo_fitness_e.svg');
  }
  &--s1 .logo {
    background-image: url('../assets/logo_fitness_s1.svg');
  }
  &--s2 .logo {
    background-image: url('../assets/logo_fitness_s2.svg');
  }
  &--plus .logo {
    background-image: url('../assets/logo_fitness_plus.svg');
  }
}

.hero-01 {
  .hero-image {
    background-image: url('../assets/hero_01.jpg');
    mask-image: url('../assets/hero_01_mask.png');
  }
  .hero-image-shadow {
    background-image: url('../assets/hero_01_shadow.png');
  }
  .logo-container {
    @include breakpoint(md) {
      &--i,
      &--t {
        z-index: auto;
      }
    }
  }
}

.hero-02 {
  .hero-image,
  .hero-image-shadow {
    left: 0;
  }
  .hero-image {
    background-image: url('../assets/hero_02.jpg');
    mask-image: url('../assets/hero_02_mask.png');
  }
  .hero-image-shadow {
    background-image: url('../assets/hero_02_shadow.png');
  }
  .logo-container {
    &--e {
      z-index: auto;
    }
    @include breakpoint(md) {
      &--i,
      &--t,
      &--e {
        z-index: auto;
      }
    }
  }
}

.hero-03 {
  .hero-image {
    background-image: url('../assets/hero_03.jpg');
    mask-image: url('../assets/hero_03_mask.png');
  }
  .hero-image-shadow {
    background-image: url('../assets/hero_03_shadow.png');
  }
  .logo-container {
    &--s1,
    &--s2 {
      z-index: 2;
    }
    @include breakpoint(md) {
      &--i,
      &--t {
        z-index: auto;
      }
      &--s2 {
        z-index: 2;
      }
    }
  }
}

.hero-04 {
  .hero-image {
    background-image: url('../assets/hero_04.jpg');
    mask-image: url('../assets/hero_04_mask.png');
  }
  .hero-image-shadow {
    background-image: url('../assets/hero_04_shadow.png');
  }
  @include breakpoint(md) {
    &--apple,
    &--f,
    &--i {
      z-index: auto;
    }
    &--s1 {
      z-index: 2;
    }
  }
}

.hero-content {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: auto;
  @include container-padding;

  .extra-huge--title {
    position: relative;
    color: color('dark');
    @supports (--css: variables) {
      background: linear-gradient(45deg, rgba(250, 19, 82, 1) 16%, rgba(28, 26, 26, 1) 80%);
      background-clip: text;
      color: transparent;
    }
    &:empty {
      position: relative;
      min-height: $huge--title * 1.65;
      min-width: 100%;
    }
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      transition: opacity 325ms ease;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      animation: placeHolderShimmer 0.8s infinite ease both;
      background: linear-gradient(
        90deg,
        rgba(250, 19, 82, 0) 25%,
        rgba(250, 19, 82, 0.6194852941176471) 50%,
        rgba(250, 19, 82, 0) 75%
      );
      background-repeat: no-repeat;
      border-radius: 0.25rem;
    }
  }

  .extra-huge--title.is-loading {
    // position: relative;
    // border: 3px solid blue;
    // min-height: $huge--title * 1.65;
    // min-width: 100%;
    &::after {
      opacity: 1;
    }
  }

  &__value-prop {
    position: relative;
    width: 100%;
    margin-top: $layout--md;
  }
}

.hero-pricing {
  margin-top: $layout--lg;
  margin-bottom: $layout--lg;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing--lg 0;
  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 $spacing--lg;
    margin-top: $layout--xl;
    margin-bottom: $layout--xl;
  }

  .title--3 {
    color: color('dark-offset');
    font-weight: font-weight('medium');
  }
  .large--title {
    margin-top: 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
