.hero-content {
  position: relative;
  @include container-padding;
  max-width: $max-content-width;
  &__pricing {
    position: relative;
    margin-top: $layout--lg;
    margin-bottom: $layout--lg;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $spacing--lg 0;
    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 $spacing--xl;
      margin-top: $layout--xl;
      margin-bottom: $layout--xl;
    }
    .title--3 {
      color: color('dark-offset');
      font-weight: font-weight('medium');
    }
    .large--title {
      margin-top: 0;
    }
  }
}

.value-prop {
  position: relative;
  width: 100%;
  margin-top: $layout--md;
}

.move-title {
  position: relative;
  background: linear-gradient(45deg, rgba(color('move'), 1) 16%, rgba(color('dark'), 1) 80%);
  background-clip: text;
  color: transparent;
}

.pricing-item {
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.loading {
  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    transition: opacity 325ms ease;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: placeHolderShimmer 0.8s infinite ease both;
    background: linear-gradient(
      90deg,
      rgba(250, 19, 82, 0) 25%,
      rgba(184, 184, 184, 0.619) 50%,
      rgba(250, 19, 82, 0) 75%
    );
    background-repeat: no-repeat;
    border-radius: 0.25rem;
  }

  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    transition: opacity 325ms ease;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: placeHolderShimmer 0.8s infinite ease both;
    background: linear-gradient(90deg, rgba(250, 19, 82, 0) 25%, rgba(250, 19, 82, 0.62) 50%, rgba(250, 19, 82, 0) 75%);
    background-repeat: no-repeat;
    border-radius: 0.25rem;
  }

  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    transition: opacity 325ms ease;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: placeHolderShimmer 0.8s infinite ease both;
    background: linear-gradient(90deg, rgba(250, 19, 82, 0) 25%, rgba(32, 32, 32, 0.619) 50%, rgba(250, 19, 82, 0) 75%);
    background-repeat: no-repeat;
    border-radius: 0.25rem;
  }
}
