// Watch render
.intro-watch {
  position: relative;
  width: 446px;
  height: 762px;
  &:before {
    position: absolute;
    content: '';
    width: 634px;
    height: 1082px;
    top: 0;
    left: 0;
    background-size: 634px 1082px;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_watch_shadow.png');
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: 446px 762px;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_watch.jpg');
    mask-size: 446px 762px;
    mask-image: url('../assets/intro_watch_mask.png');
    mask-repeat: no-repeat;
  }
}

// Video
.intro-watch-video {
  position: absolute;
  z-index: 1;
  top: 178px;
  left: 47px;
  width: 332px;
  height: 404px;

  &__start,
  &__end {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: 332px 404px;
    background-repeat: no-repeat;
  }
  &__start {
    z-index: auto;
    background-image: url('../assets/intro_watch_start.jpg');
    opacity: 1;
  }
  &__end {
    z-index: -1;
    background-image: url('../assets/intro_watch_end.jpg');
  }
  &__video {
    position: relative;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}
