.device-grid {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  max-height: 668px;
  @include breakpoint(md) {
    max-height: 968px;
  }
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 0 $spacing--lg;

  &__item.intro-iphone {
    position: absolute;
    grid-column: 2 / 3;
    align-self: end;
    justify-self: center;
    bottom: 88px;
    @include breakpoint(md) {
      bottom: 120px;
    }
    @include breakpoint(lg) {
      bottom: 0;
    }
  }

  &__item.intro-watch {
    grid-column: 2 / 3;
    justify-self: center;
  }

  &__item.intro-ipad {
    position: absolute;
    right: -68px;
    grid-column: 1 / 2;
    align-self: center;
    @include breakpoint(md) {
      right: -38px;
    }
    @include breakpoint(lg) {
      right: 0;
    }
  }

  &__item.intro-tv {
    position: absolute;
    align-self: center;
    left: -68px;
    grid-column: 3 / 4;
    @include breakpoint(md) {
      left: -38px;
    }
    @include breakpoint(lg) {
      left: 0;
    }
  }
}

// Watch render
.intro-watch {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 248px;
  height: 426px;

  @include breakpoint(md) {
    width: 360px;
    height: 618px;
  }
  @include breakpoint(lg) {
    width: 446px;
    height: 762px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

// Video
.intro-watch-screen {
  position: absolute;
  z-index: 1;
  width: 184px;
  height: 224px;
  @include breakpoint(md) {
    width: 268px;
    height: 326px;
  }
  @include breakpoint(lg) {
    width: 332px;
    height: 404px;
  }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

// iPad
.intro-ipad {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  z-index: 0;
  width: 544px;
  height: 394px;
  @include breakpoint(md) {
    width: 699px;
    height: 505px;
  }
  @include breakpoint(lg) {
    width: 791px;
    height: 572px;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    border-radius: 44px;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

// TV
.intro-tv {
  --progress-start: 0%;
  --progress-end: 0%;
  position: absolute;
  z-index: 0;
  width: 867px;
  height: 495px;

  @include breakpoint(md) {
    width: 1113px;
    height: 634px;
  }
  @include breakpoint(lg) {
    width: 1261px;
    height: 718px;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

// iPhone
.intro-iphone {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  z-index: 1;
  width: 163px;
  height: 314px;
  @include breakpoint(md) {
    width: 208px;
    height: 403px;
  }
  @include breakpoint(lg) {
    width: 235px;
    height: 457px;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    border-radius: 46px;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.app-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include container-padding;
  margin-top: $layout--lg;
  margin-bottom: $layout--lg;
}

.apple-fitness {
  height: 90px;
  width: 90px;
  @include breakpoint(sm) {
    height: 120px;
    width: 120px;
  }
}

.device-sync-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container-padding;
  p {
    margin: 0;
  }
}

.device-syncing {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  width: 342px;
  height: 292px;
  z-index: -1;
  margin-bottom: $spacing--lg;
  @include breakpoint(md) {
    width: 718px;
    height: 611px;
  }
  @include breakpoint(lg) {
    width: 792px;
    height: 676px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.device-syncing-screen {
  position: relative;
  height: inherit;
  width: inherit;
  mask-size: contain;
  mask-repeat: no-repeat;
  &__static {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}
