// Watch render
.intro-watch {
  position: relative;
  z-index: 2;
  width: 295px;
  height: 503px;
  @include breakpoint(md) {
    width: 446px;
    height: 762px;
  }
  &__shadow {
    position: absolute;
    width: 419px;
    height: 715px;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint(md) {
      width: 634px;
      height: 1082px;
    }
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

// Video
.intro-watch-video {
  position: absolute;
  z-index: 1;
  top: 119px;
  left: 33px;
  width: 217px;
  height: 264px;
  @include breakpoint(md) {
    top: 178px;
    left: 47px;
    width: 332px;
    height: 404px;
  }

  &__start,
  &__end {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__start {
    z-index: auto;
    opacity: 1;
  }
  &__end {
    z-index: -1;
  }
  &__video {
    position: relative;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

// iPad
.intro-ipad {
  position: relative;
  z-index: 0;
  width: 580px;
  height: 420px;
  @include breakpoint(md) {
    width: 791px;
    height: 572px;
  }
  &__shadow {
    position: absolute;
    width: 668px;
    height: 518px;
    @include breakpoint(md) {
      width: 908px;
      height: 704px;
    }
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

// TV
.intro-tv {
  position: absolute;
  z-index: 0;
  width: 1063px;
  height: 605px;
  @include breakpoint(md) {
    width: 1261px;
    height: 718px;
  }
  &__shadow {
    position: absolute;
    width: 1201px;
    height: 678px;
    @include breakpoint(md) {
      width: 1425px;
      height: 805px;
    }
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

// iPhone
.intro-iphone {
  position: relative;
  z-index: 1;
  width: 187px;
  height: 366px;
  @include breakpoint(md) {
    width: 235px;
    height: 457px;
  }
  &__shadow {
    position: absolute;
    width: 293px;
    height: 433px;
    @include breakpoint(md) {
      width: 366px;
      height: 541px;
    }
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

.device-grid {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  max-height: 668px;
  @include breakpoint(md) {
    max-height: 968px;
  }
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 0 $spacing--lg;

  .intro-iphone {
    position: absolute;
    grid-column: 2 / 3;
    align-self: end;
    justify-self: center;
  }

  .intro-watch {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .intro-ipad {
    position: absolute;
    right: -68px;
    grid-column: 1 / 2;
    align-self: center;
    @include breakpoint(md) {
      right: 0;
    }
  }

  .intro-tv {
    position: absolute;
    align-self: center;
    left: -68px;
    grid-column: 3 / 4;
    @include breakpoint(md) {
      left: 0;
    }
  }
}

.fitness-experience {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container-padding;
  margin-top: $layout--lg;
}

.fitness-content {
  max-width: 100%;
  margin-right: auto;
  @include breakpoint(md) {
    max-width: 70%;
  }
}

.apple-fitness-app {
  height: 120px;
  width: 120px;
}

.device-lockup {
  position: relative;
  width: 598px;
  height: 510px;
  margin-bottom: $layout--sm;
  margin-top: $layout--lg;
  @include breakpoint(md) {
    width: 792px;
    height: 676px;
    margin-bottom: 0;
  }
  &__shadow {
    position: absolute;
    width: 686px;
    height: 576px;
    @include breakpoint(md) {
      width: 910px;
      height: 764px;
    }
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_lockup_shadow.png');
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: url('../assets/intro_lockup.jpg');
    mask-image: url('../assets/intro_lockup_mask.png');
  }

  &__video {
    position: relative;
    height: inherit;
    width: inherit;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('../assets/intro_lockup_video-mask.png');

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../assets/intro_lockup_cover.jpg');
    }

    &-endcover {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../assets/intro_lockup_endcover.jpg');
    }
  }
}
