// Watch render
.intro-watch {
  position: relative;
  z-index: 2;
  width: 295px;
  height: 503px;
  @include breakpoint(md) {
    width: 446px;
    height: 762px;
  }
  &__shadow {
    position: absolute;
    width: 419px;
    height: 715px;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_watch_shadow.png');
    @include breakpoint(md) {
      width: 634px;
      height: 1082px;
    }
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_watch.jpg');
    mask-size: contain;
    mask-image: url('../assets/intro_watch_mask.png');
    mask-repeat: no-repeat;
  }
}

// Video
.intro-watch-video {
  position: absolute;
  z-index: 1;
  top: 119px;
  left: 33px;
  width: 217px;
  height: 264px;
  @include breakpoint(md) {
    top: 178px;
    left: 47px;
    width: 332px;
    height: 404px;
  }

  &__start,
  &__end {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__start {
    z-index: auto;
    background-image: url('../assets/intro_watch_start.jpg');
    opacity: 1;
  }
  &__end {
    z-index: -1;
    background-image: url('../assets/intro_watch_end.jpg');
  }
  &__video {
    position: relative;
    height: 404px;
    width: 332px;
    object-fit: contain;
    display: none;
    opacity: 1;
    @include breakpoint(md) {
      display: block;
    }
  }
}

// iPad
.intro-ipad {
  position: relative;
  width: 580px;
  height: 420px;
  @include breakpoint(md) {
    width: 791px;
    height: 572px;
  }
  &:before {
    position: absolute;
    content: '';
    width: 668px;
    height: 518px;
    @include breakpoint(md) {
      width: 908px;
      height: 704px;
    }
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_ipad_shadow.png');
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_ipad.jpg');
    mask-size: contain;
    mask-image: url('../assets/intro_ipad_mask.png');
    mask-repeat: no-repeat;
  }
}

// TV
.intro-tv {
  position: relative;
  width: 1063px;
  height: 605px;
  @include breakpoint(md) {
    width: 1261px;
    height: 718px;
  }
  &:before {
    position: absolute;
    content: '';
    width: 1201px;
    height: 678px;
    @include breakpoint(md) {
      width: 1425px;
      height: 805px;
    }
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_tv_shadow.png');
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_tv.jpg');
    mask-size: contain;
    mask-image: url('../assets/intro_tv_mask.png');
    mask-repeat: no-repeat;
  }
}

// iPhone
.intro-iphone {
  position: relative;
  width: 187px;
  height: 366px;
  @include breakpoint(md) {
    width: 235px;
    height: 457px;
  }
  &:before {
    position: absolute;
    content: '';
    width: 293px;
    height: 433px;
    @include breakpoint(md) {
      width: 366px;
      height: 541px;
    }
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_iphone_shadow.png');
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_iphone.jpg');
    mask-size: contain;
    mask-image: url('../assets/intro_iphone_mask.png');
    mask-repeat: no-repeat;
  }
}

.grid-container {
  position: relative;
  width: 100%;
  display: grid;
  height: 100vh;
  max-height: 668px;
  @include breakpoint(md) {
    max-height: 968px;
  }
  //grid-template-rows: repeat(2, 480px);
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 0 $spacing--lg;
}

.watch-item {
  position: relative;
  grid-column: 2 / 3;
  justify-self: center;
}

.iphone-item {
  position: absolute;
  grid-column: 2 / 3;
  // align-self: start;
  justify-self: center;
  z-index: 1;
  top: 90%;
  transform: translateY(-90%);
}

.tv-item {
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  left: -68px;
  grid-column: 3 / 4;
  @include breakpoint(md) {
    left: 0;
  }
}

.ipad-item {
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: -68px;
  grid-column: 1 / 2;
  @include breakpoint(md) {
    right: 0;
  }
}
