.metrics-media {
  position: relative;
  display: flex;
  justify-content: center;
}
.metrics-hero {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 450px;
  height: 775px;
  @include breakpoint(md) {
    width: 700px;
    height: 1100px;
  }
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(23, 22, 55, 0.95) 5%, rgba(0, 0, 27, 0) 40%);
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
  &__shadow {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__image {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

.metrics-content {
  position: relative;
  z-index: 3;
  top: -88px;
}

.fitness-metrics {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  .metrics {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: $spacing--lg 0;
  }
  .metrics-figure {
    position: relative;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.metrics-time {
  &__icon {
    height: 66px;
    width: 66px;
    @include breakpoint(md) {
      width: 110px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-bpm {
  &__icon {
    height: 66px;
    width: 66px;
    @include breakpoint(md) {
      width: 110px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-calories {
  &__icon {
    height: 66px;
    width: 156px;
    @include breakpoint(md) {
      width: 266px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-devices {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 768px;
  @include breakpoint(md) {
    max-height: 968px;
  }
  //border: 1px solid red;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin-top: $layout--md;
    margin-bottom: $layout--lg;
  }
}

// Watch render
.metrics-watch {
  position: relative;
  z-index: 2;
  width: 120px;
  height: 206px;
  @include breakpoint(md) {
    width: 160px;
    height: 274px;
  }
  @include breakpoint(lg) {
    width: 200px;
    height: 343px;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: url('../assets/intro_watch.jpg');
    mask-image: url('../assets/intro_watch_mask.png');
  }
}

// Video
.metrics-watch-screen {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 12px;
  width: 90px;
  height: 122px;
  @include breakpoint(md) {
    top: 64px;
    left: 12px;
    width: 132px;
    height: 140px;
  }
  @include breakpoint(lg) {
    top: 80px;
    left: 21px;
    width: 149px;
    height: 182px;
  }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: block;
    @include breakpoint(md) {
      display: block;
    }
  }
}

.metrics-iphone {
  position: absolute;
  z-index: 1;
  left: calc(100% - 140px);
  width: 503px;
  height: 257px;
  @include breakpoint(md) {
    left: calc(100% - 340px);
    width: 645px;
    height: 329px;
  }
  @include breakpoint(lg) {
    width: 834px;
    height: 428px;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: url('../assets/metrics_iphone.jpg');
    mask-image: url('../assets/metrics_iphone_mask.png');
  }
}

// Video
.metrics-iphone-screen {
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 18px;
  width: 490px;
  height: 228px;

  @include breakpoint(md) {
    top: 20px;
    left: 20px;
    width: 606px;
    height: 290px;
  }
  @include breakpoint(lg) {
    top: 30px;
    left: 30px;
    width: 773px;
    height: 362px;
  }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: block;
    @include breakpoint(md) {
      display: block;
    }
  }
}
