.metrics-media {
  position: relative;
  display: flex;
  justify-content: center;
}
.metrics-hero {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 375px;
  height: 589px;

  @include breakpoint(md) {
    width: 628px;
    height: 968px;
  }
  @include breakpoint(lg) {
    width: 700px;
    height: 1100px;
  }
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(23, 22, 55, 0.95) 5%, rgba(0, 0, 27, 0) 40%);
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
  &__shadow {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__image {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

.metrics-content {
  position: relative;
  z-index: 3;
  margin-bottom: $layout--xl;
  p {
    margin-bottom: 0;
  }
}

.fitness-metrics {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  .metrics {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: $spacing--lg 0;
  }
  .metrics-figure {
    position: relative;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.metrics-time {
  &__icon {
    height: 46px;
    width: 46px;
    @include breakpoint(md) {
      width: 100px;
      height: 100px;
    }
    @include breakpoint(lg) {
      width: 106px;
      height: 106px;
    }
  }
  &__metric {
    z-index: 2;
    width: 139px;
    height: 56px;
    @include breakpoint(md) {
      width: 307px;
      height: 124px;
    }
    @include breakpoint(lg) {
      width: 323px;
      height: 132px;
    }
  }
}

.metrics-bpm {
  &__icon {
    height: 46px;
    width: 43px;
    @include breakpoint(md) {
      width: 100px;
      height: 93px;
    }
    @include breakpoint(lg) {
      width: 106px;
      height: 99px;
    }
  }
  &__metric {
    z-index: 2;
    width: 118px;
    height: 57px;
    @include breakpoint(md) {
      width: 260px;
      height: 126px;
    }
    @include breakpoint(lg) {
      width: 274px;
      height: 131px;
    }
  }
}

.metrics-calories {
  &__icon {
    width: 84px;
    height: 35px;
    @include breakpoint(md) {
      width: 185px;
      height: 76px;
    }
    @include breakpoint(lg) {
      width: 195px;
      height: 80px;
    }
  }
  &__metric {
    z-index: 2;
    width: 84px;
    height: 56px;
    @include breakpoint(md) {
      width: 185px;
      height: 123px;
    }
    @include breakpoint(lg) {
      width: 194px;
      height: 131px;
    }
  }
}

.metrics-heart-rate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__renders {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: $layout--lg;
    transform-origin: top center;
  }
}

// Watch render
.metrics-watch {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 97px;
  height: 165px;
  @include breakpoint(md) {
    width: 154px;
    height: 262px;
  }
  @include breakpoint(lg) {
    width: 187px;
    height: 317px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

// Video
.metrics-watch-screen {
  position: absolute;
  z-index: 1;
  width: 72px;
  height: 87px;
  @include breakpoint(md) {
    width: 114px;
    height: 139px;
  }
  @include breakpoint(lg) {
    width: 138px;
    height: 168px;
  }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

.metrics-iphone {
  --progress-start: 0%;
  --progress-end: 0%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: calc(100% - 140px);
  width: 367px;
  height: 187px;
  @include breakpoint(md) {
    left: calc(100% - 340px);
    width: 581px;
    height: 296px;
  }
  @include breakpoint(lg) {
    width: 703px;
    height: 358px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    border-radius: 70px;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

// Video
.metrics-iphone-screen {
  position: absolute;
  z-index: 1;
  width: 340px;
  height: 159px;

  @include breakpoint(md) {
    width: 534px;
    height: 251px;
  }
  @include breakpoint(lg) {
    width: 652px;
    height: 304px;
  }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

// ipad
.metrics-milestone,
.metrics-competition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include container-padding;
  p {
    margin: 0;
  }
}

.metrics-ipad {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  width: 470px;
  height: 338px;
  left: calc(100% - 470px);
  z-index: 1;
  margin-bottom: $layout--sm;
  @include breakpoint(md) {
    width: 718px;
    height: 518px;
    left: 0;
    margin-bottom: $layout--lg;
  }
  @include breakpoint(lg) {
    width: 983px;
    height: 710px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.metrics-tv {
  --progress-start: 0%;
  --progress-end: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 268px;
  right: calc(100% - 470px);
  z-index: 1;
  margin-bottom: $layout--sm;
  @include breakpoint(md) {
    width: 718px;
    height: 409px;
    right: 0;
    margin-bottom: $layout--lg;
  }
  @include breakpoint(lg) {
    width: 982px;
    height: 560px;
  }
  &__reveal {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: 1;
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      175deg,
      rgba(color('darker'), 0) var(--progress-start),
      rgba(color('darker'), 1) var(--progress-end)
    );
    transform-origin: bottom center;
  }
}

.metrics-tv-screen {
  position: absolute;
  width: 464px;
  height: 261px;
  @include breakpoint(md) {
    width: 709px;
    height: 399px;
  }
  @include breakpoint(lg) {
    width: 970px;
    height: 546px;
  }
  &__static {
    position: absolute;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}
