.metrics-media {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: $layout--2xl;
}
.metrics-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 450px;
  height: 775px;
  @include breakpoint(md) {
    width: 700px;
    height: 1100px;
  }
  &__shadow {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__image {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

.fitness-metrics {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  .metrics {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: $spacing--lg 0;
  }
  .metrics-figure {
    position: relative;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.metrics-time {
  &__icon {
    height: 66px;
    width: 66px;
    @include breakpoint(md) {
      width: 110px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-bpm {
  &__icon {
    height: 66px;
    width: 66px;
    @include breakpoint(md) {
      width: 110px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-calories {
  &__icon {
    height: 66px;
    width: 156px;
    @include breakpoint(md) {
      width: 266px;
      height: 110px;
    }
  }
  &__metric {
    z-index: 2;
    width: 204px;
    height: 82px;
    @include breakpoint(md) {
      width: 355px;
      height: 142px;
    }
  }
}

.metrics-device-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 668px;
  margin-top: $layout--lg;
  @include breakpoint(md) {
    max-height: 968px;
  }
  border: 1px solid red;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 568px;
    width: 100%;
    //transform: scale(2.45);
  }
}

// Watch render
.metrics-watch {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 343px;
  // width: 295px;
  // height: 503px;
  // @include breakpoint(md) {
  //   width: 446px;
  //   height: 762px;
  // }
  &__shadow {
    position: absolute;
    width: 285px;
    height: 487px;
    // width: 419px;
    // height: 715px;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/intro_watch_shadow.png');
    // @include breakpoint(md) {
    //   width: 634px;
    //   height: 1082px;
    // }
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: url('../assets/intro_watch.jpg');
    mask-image: url('../assets/intro_watch_mask.png');
  }
}

// Video
.metrics-watch-screen {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 21px;
  width: 149px;
  height: 182px;
  // width: 217px;
  // height: 264px;
  // @include breakpoint(md) {
  //   top: 178px;
  //   left: 47px;
  //   width: 332px;
  //   height: 404px;
  // }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}

.metrics-iphone {
  position: absolute;
  z-index: 1;
  left: calc(90% - 200px);
  // width: 717px;
  // height: 366px;
  // width: 1434px;
  // height: 732px;
  width: 645px;
  height: 329px;
  // @include breakpoint(md) {
  //   width: 446px;
  //   height: 762px;
  // }
  &__shadow {
    position: absolute;
    // width: 852px;
    // height: 578px;
    width: 767px;
    height: 520px;
    // width: 1704px;
    // height: 1156px;
    top: -20px;
    left: -16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/metrics_iphone_shadow.png');
    // @include breakpoint(md) {
    //   width: 634px;
    //   height: 1082px;
    // }
  }
  &__render {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: url('../assets/metrics_iphone.jpg');
    mask-image: url('../assets/metrics_iphone_mask.png');
  }
}

// Video
.metrics-iphone-screen {
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 20px;
  // width: 670px;
  // height: 312px;
  width: 603px;
  height: 281px;
  // width: 1340px;
  // height: 624px;
  // @include breakpoint(md) {
  //   top: 178px;
  //   left: 47px;
  //   width: 332px;
  //   height: 404px;
  // }

  &__static {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__video {
    position: absolute;
    z-index: 1;
    height: inherit;
    width: inherit;
    object-fit: contain;
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
}
