.workouts-anywhere {
  position: relative;
  &__intro,
  &__heading {
    position: relative;
    display: flex;
    justify-content: center;
    @include container-padding;
  }
  &__intro {
    margin-top: $spacing--xl;
  }
  &__heading {
    max-width: 568px;
  }

  &__media-control {
    position: absolute;
    z-index: 6;
    right: $spacing--lg;
    bottom: 180px;
  }
}
