/* Typography styles */
p {
  font-size: $body--2;
  margin-bottom: $spacing--lg;
  @include breakpoint(md) {
    font-size: $body--1;
    margin-bottom: $spacing--xl;
  }
}

h1,
h2,
h3,
h4,
form legend {
  line-height: $heading-line-height;
  font-weight: inherit;
  margin: $spacing--xl 0 $spacing--sm;
}

.extra-huge--title {
  font-size: $huge--title;
  font-weight: font-weight('bold');
  line-height: $headline-line-height;
  margin-bottom: $spacing--4xl;
  @include breakpoint(md) {
    font-size: $huge--title * 1.65;
  }
}

.huge--title {
  font-size: $large--title;
  line-height: $headline-line-height;
  @include breakpoint(md) {
    font-size: $huge--title;
  }
}

.large--title {
  font-size: $title--1;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  @include breakpoint(md) {
    font-size: $large--title;
  }
}

h1,
.title--1 {
  font-size: $title--2;
  margin-top: 0;
  @include breakpoint(md) {
    font-size: $title--1;
  }
}

h2,
.title--2 {
  font-size: $title--3;
  font-weight: font-weight('medium');
  @include breakpoint(md) {
    font-size: $title--2;
  }
}

h3,
.title--3 {
  font-size: $subtitle--2;
  @include breakpoint(md) {
    font-size: $title--3;
  }
}

h4,
.subtitle--2 {
  font-size: $subtitle;
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
}

.subtitle {
  font-size: $body--1;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.body--1 {
  font-size: $body--2;
  @include breakpoint(md) {
    font-size: $body--1;
  }
}

.body--2 {
  font-size: $body--2;
}

.overline,
.caption,
small {
  font-size: $overline;
}

.legal {
  font-size: $legal;
}

b,
strong {
  font-weight: 500;
}
